Repository haddocking/haddock3, pull requests merged in 2022-03, with the labels that each got.

#341 Flexref yaml documentation
  examples/docking-protein-DNA/docking-protein-DNA-full.cfg
  examples/docking-protein-DNA/docking-protein-DNA-mdref-full.cfg
  examples/docking-protein-DNA/docking-protein-DNA-mdref-test.cfg
  examples/docking-protein-DNA/docking-protein-DNA-test.cfg
  examples/docking-protein-ligand-shape/docking-protein-ligand-shape-full.cfg
  examples/docking-protein-ligand-shape/docking-protein-ligand-shape-test.cfg
  examples/docking-protein-protein/docking-protein-protein-cltsel-test.cfg
  src/haddock/modules/refinement/emref/cns/emref.cns
  src/haddock/modules/refinement/flexref/cns/flexref.cns
  src/haddock/modules/refinement/flexref/cns/print_coorheader.cns
  src/haddock/modules/refinement/flexref/cns/read_data.cns
  src/haddock/modules/refinement/flexref/cns/read_noes.cns
  src/haddock/modules/refinement/flexref/defaults.yaml
  src/haddock/modules/refinement/mdref/cns/mdref.cns
  src/haddock/modules/refinement/mdref/defaults.yaml
Labels: yaml documentation, m:flexref

#334 Further improves CONTRIBUTING
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: documentation

#343 Added documentation to emscoring yaml file
  src/haddock/modules/refinement/emref/defaults.yaml
  src/haddock/modules/refinement/flexref/defaults.yaml
  src/haddock/modules/refinement/mdref/defaults.yaml
  src/haddock/modules/scoring/emscoring/__init__.py
  src/haddock/modules/scoring/emscoring/cns/emscoring.cns
  src/haddock/modules/scoring/emscoring/defaults.yaml
Labels: yaml documentation, m:emscoring

#346 Consider cluster centers in `clustfcc`
  src/haddock/modules/analysis/clustfcc/__init__.py
Labels: bug, m|clustfcc

#340 Cleaning expandable parameters logic
  src/haddock/gear/expandable_parameters.py
  src/haddock/gear/prepare_run.py
  src/haddock/libs/libutil.py
  tests/test_gear_expandable_parameters.py
  tests/test_gear_prepare_run.py
  tests/test_libutil.py
Labels: bug, feature, refactors

#347 Verbosity
  src/haddock/modules/refinement/emref/cns/emref.cns
  src/haddock/modules/refinement/emref/defaults.yaml
  src/haddock/modules/refinement/flexref/cns/flexref.cns
  src/haddock/modules/refinement/flexref/defaults.yaml
  src/haddock/modules/refinement/mdref/cns/mdref.cns
  src/haddock/modules/refinement/mdref/defaults.yaml
  src/haddock/modules/sampling/rigidbody/cns/rigidbody.cns
  src/haddock/modules/sampling/rigidbody/cns/surf-restraints.cns
  src/haddock/modules/sampling/rigidbody/defaults.yaml
  src/haddock/modules/scoring/emscoring/cns/emscoring.cns
  src/haddock/modules/scoring/emscoring/defaults.yaml
  src/haddock/modules/scoring/mdscoring/cns/mdscoring.cns
  src/haddock/modules/scoring/mdscoring/defaults.yaml
  src/haddock/modules/topology/topoaa/defaults.yaml
Labels: CNS

#351 update PR template
  .github/pull_request_template.md
Labels: documentation

#350 make `topoaa.molX` and `mol_` parameter expandable
  src/haddock/core/defaults.py
  src/haddock/gear/expandable_parameters.py
  src/haddock/gear/prepare_run.py
  src/haddock/libs/libutil.py
  src/haddock/modules/refinement/emref/defaults.yaml
  src/haddock/modules/refinement/flexref/defaults.yaml
  src/haddock/modules/refinement/mdref/defaults.yaml
  src/haddock/modules/sampling/rigidbody/defaults.yaml
  src/haddock/modules/topology/topoaa/defaults.yaml
  tests/test_gear_expandable_parameters.py
  tests/test_gear_prepare_run.py
  tests/test_module_topoaa.py
Labels: feature, m|emref, m|flexref, m|mdref, m|rigidbody, m|topoaa

#353 Impelement cluster-based output in `caprieval`
  examples/docking-protein-protein/docking-protein-protein-cltsel-test.cfg
  src/haddock/modules/analysis/caprieval/__init__.py
  src/haddock/modules/analysis/caprieval/capri.py
  src/haddock/modules/analysis/caprieval/defaults.yaml
  tests/test_module_caprieval.py
Labels: enhancement, m|caprieval, :godmode:

#360 Fix % display in `libhpc`
  src/haddock/libs/libhpc.py
Labels: bug

#361 tile in topoaa.defaults.mol1 should be title
  src/haddock/modules/topology/topoaa/defaults.yaml
Labels: bug, yaml documentation

#362 Improves `defaults.yaml` tests
  src/haddock/modules/topology/topoaa/defaults.yaml
  tests/test_modules_general.py
Labels: enhancement, yaml documentation, :godmode:

#363 Googleform
  README.md
Labels: discussions
