Repository haddocking/haddock3, pull requests merged in 2022-11, with the labels that each got.

#579 Add `--ncores` param to clean clients
  src/haddock/clis/cli_clean.py
  src/haddock/clis/cli_unpack.py
  src/haddock/libs/libcli.py
  tests/test_libcli.py
Labels: enhancement, :snake: workflow

#469 Add CNS installation instructions
  docs/CNS.md
  docs/INSTALL.md
Labels: documentation, CNS

#591 Updates `haddock3-cfg` for `toml` compatibility - bool variables
  src/haddock/gear/yaml2cfg.py
  tests/configs/yaml2cfg_converted.cfg
  tests/configs/yaml2cfg_converted_no_header.cfg
  tests/test_gear_yaml2cfg.py
Labels: bug, yaml default parameters
