Repository haddocking/haddock3, pull requests merged in 2022-07, with the labels that each got.

#494 Added `exit` module
  docs/modules/extras/exit.rst
  docs/modules/extras/index.rst
  docs/modules/index.rst
  examples/compare_runs.py
  examples/docking-protein-protein/docking-exit-test.cfg
  examples/docking-protein-protein/docking-extend-run-exit-test.cfg
  examples/docking-protein-protein/docking-restart-exit-test.cfg
  examples/run_tests.py
  src/haddock/core/exceptions.py
  src/haddock/gear/extend_run.py
  src/haddock/libs/libworkflow.py
  src/haddock/modules/__init__.py
  src/haddock/modules/extras/exit/__init__.py
  src/haddock/modules/extras/exit/defaults.yaml
Labels: :snake: workflow

#493 Update `pdb-tools` version.
  requirements.txt
  requirements.yml
Labels: enhancement

#499 Add documentation to the `limit` parameter in `topoaa`
  src/haddock/modules/topology/topoaa/defaults.yaml
Labels: documentation, m|topoaa, yaml default parameters, :scroll:

#500 Correct function selection in `topoaa` when `order=0` and `limit` is used (or not)
  src/haddock/modules/topology/topoaa/__init__.py
Labels: bug, m|topoaa

#501 Add missing parameter in `run_tests.py` after #494
  examples/run_tests.py
Labels: bug, examples

#508 Added `shape.top` to the supported residues
  src/haddock/core/supported_molecules.py
Labels: bug, :snake: workflow

#507 implemented check_chains
  src/haddock/modules/analysis/caprieval/capri.py
  tests/test_module_caprieval.py
Labels: bug, m|caprieval

#511 Add documentation paragraph to `rigidbody` module description
  docs/modules/sampling/rigidbody.rst
  src/haddock/modules/sampling/rigidbody/__init__.py
  tox.ini
Labels: documentation, m|rigidbody, :scroll:

#512 add missing init file
  docs/modules/extras/exit.rst
  docs/modules/extras/index.rst
  src/haddock/modules/extras/__init__.py
  src/haddock/modules/extras/exit/__init__.py
Labels: documentation, m|exit

#514 Added a brief intro do HADDOCK3
  docs/figs/HADDOCK2-stages.png
  docs/figs/HADDOCK3-workflow-scheme.png
  docs/index.rst
  docs/intro.md
Labels: documentation

#513 Correct typo in documentation
  docs/modules/analysis/seletop.rst
Labels: documentation

#521 Removes `--verbosity` in `isort` lint check
  tox.ini
Labels: CI / repository
