Repository haddocking/haddock3, pull requests merged in 2023-10, with the labels that each got.

#714 Glycan 1 6
  CHANGELOG.md
  examples/docking-antibody-antigen/docking-antibody-antigen-CDR-NMR-CSP-full.cfg
  examples/docking-protein-protein/docking-protein-protein-hpc-test.cfg
  examples/run_examples-full.py
  src/haddock/cns/toppar/par_axis.pro
  src/haddock/cns/toppar/protein-allhdg5-4-noNter.link
  src/haddock/cns/toppar/protein-allhdg5-4-noter.link
  src/haddock/cns/toppar/protein-allhdg5-4.param
  src/haddock/cns/toppar/tensor.pdb
  src/haddock/cns/toppar/tensor.psf
  src/haddock/cns/toppar/tensor_para.psf
  src/haddock/cns/toppar/top_axis.pro
  src/haddock/modules/topology/topoaa/cns/bondglycans.cns
Labels: CNS

#726 Integration tweak
  .github/workflows/integration.yml
  .github/workflows/tests.yml
  integration_tests/__init__.py
  integration_tests/test_topoaa.py
  tox.ini
Labels: CI / repository

#729 Randomisation of starting orientations at flexref - issue #722
  src/haddock/modules/refinement/flexref/cns/flexref.cns
  src/haddock/modules/refinement/flexref/cns/random_rotations.cns
  src/haddock/modules/refinement/flexref/cns/separate.cns
  src/haddock/modules/refinement/flexref/defaults.yaml
Labels: feature, CNS, m|flexref

#732 Haddock3 restraints
  requirements.txt
  setup.py
  src/haddock/clis/cli_restraints.py
  src/haddock/libs/librestraints.py
  src/haddock/restraints/active_passive_to_ambig.py
  src/haddock/restraints/passive_from_active.py
  src/haddock/restraints/restrain_bodies.py
  src/haddock/restraints/validate_tbl.py
  tests/golden_data/example.act-pass
  tests/test_cli_restraints.py
Labels: feature

#690 alascan module
  codecov.yml
  examples/analysis/alascan-test.cfg
  integration_tests/test_alascan.py
  src/haddock/clis/cli_score.py
  src/haddock/libs/libalign.py
  src/haddock/libs/libparallel.py
  src/haddock/libs/libplots.py
  src/haddock/modules/analysis/__init__.py
  src/haddock/modules/analysis/alascan/__init__.py
  src/haddock/modules/analysis/alascan/defaults.yaml
  src/haddock/modules/analysis/alascan/scan.py
  tests/golden_data/scan_protprot_complex_1.csv
  tests/test_cli_score.py
  tests/test_libplots.py
  tests/test_module_alascan.py
  tox.ini
Labels: m|alascan
