Repository haddocking/haddock3, pull requests merged in 2023-11, with the labels that each got.

#743 Add missing parameters and update `compare_runs.py`
  examples/compare_runs.py
  examples/run_tests.py
  src/haddock/cns/toppar/protein-allhdg5-4.param
Labels: parameters-topologies

#731 contact map analysis module
  examples/analysis/contmap-test.cfg
  integration_tests/golden_data/contactmap_rigidbody_3_cltid_None.pdb
  integration_tests/golden_data/contactmap_rigidbody_5_clt_1.pdb
  integration_tests/golden_data/contactmap_rigidbody_7_clt_1.pdb
  integration_tests/test_contactmap.py
  src/haddock/libs/libplots.py
  src/haddock/modules/analysis/contactmap/__init__.py
  src/haddock/modules/analysis/contactmap/contmap.py
  src/haddock/modules/analysis/contactmap/defaults.yaml
  tests/test_module_contmap.py
  tox.ini
Labels: feature, m|contactmap

#745 Updated color scheme of chord chart
  examples/analysis/contmap-test.cfg
  src/haddock/modules/analysis/contactmap/contmap.py
Labels: enhancement, m|contactmap
