Repository haddocking/haddock3, pull requests merged in 2023-06, with the labels that each got.

#656 change codecov fail_ci_if_error
  .github/workflows/tests.yml
Labels: CI / repository

#660 Fixes b16 glycan linkage issue #659
  src/haddock/modules/topology/topoaa/cns/bondglycans.cns
Labels: bug, CNS

#639 Add structure viewer to the analysis report
  src/haddock/clis/cli_analyse.py
  src/haddock/libs/libplots.py
  tests/test_libplots.py
Labels: analysis/postprocessing, community

#664 Increased dihedral restraints array size - in line with haddock2.4/5
  src/haddock/modules/refinement/emref/cns/protein-ss-restraints-all.cns
  src/haddock/modules/refinement/emref/cns/protein-ss-restraints-alpha-beta.cns
  src/haddock/modules/refinement/emref/cns/protein-ss-restraints-alpha.cns
  src/haddock/modules/refinement/emref/cns/read_data.cns
  src/haddock/modules/refinement/flexref/cns/protein-ss-restraints-all.cns
  src/haddock/modules/refinement/flexref/cns/protein-ss-restraints-alpha-beta.cns
  src/haddock/modules/refinement/flexref/cns/protein-ss-restraints-alpha.cns
  src/haddock/modules/refinement/flexref/cns/read_data.cns
  src/haddock/modules/refinement/mdref/cns/protein-ss-restraints-all.cns
  src/haddock/modules/refinement/mdref/cns/protein-ss-restraints-alpha-beta.cns
  src/haddock/modules/refinement/mdref/cns/protein-ss-restraints-alpha.cns
  src/haddock/modules/refinement/mdref/cns/read_data.cns
  src/haddock/modules/scoring/mdscoring/cns/protein-ss-restraints-all.cns
  src/haddock/modules/scoring/mdscoring/cns/protein-ss-restraints-alpha-beta.cns
  src/haddock/modules/scoring/mdscoring/cns/protein-ss-restraints-alpha.cns
Labels: CNS, community
