Repository haddocking/haddock3, pull requests merged in 2024-05, with the labels that each got.

#883 Remove faulty outputs before saving io.json
  src/haddock/modules/__init__.py
Labels: bug

#881 Define contact distance cutoff parameter in ilrmsdmatrix
  integration_tests/test_ilrmsdmatrix.py
  src/haddock/modules/analysis/ilrmsdmatrix/__init__.py
  src/haddock/modules/analysis/ilrmsdmatrix/defaults.yaml
  src/haddock/modules/analysis/ilrmsdmatrix/ilrmsd.py
  src/haddock/modules/analysis/rmsdmatrix/rmsd.py
  tests/test_module_ilrmsdmatrix.py
Labels: enhancement, m|ilrmsdmatrix

#888 corrected absolute path in seletopclusts
  src/haddock/modules/analysis/seletopclusts/seletopclusts.py
Labels: bug, m|seletopclusts

#889 Improve alascan output
  integration_tests/test_alascan.py
  src/haddock/libs/libplots.py
  src/haddock/modules/analysis/alascan/scan.py
  tests/golden_data/scan_protprot_complex_1.csv
  tests/test_module_alascan.py
Labels: enhancement, m|alascan

#859 Reclusts matrixplot
  src/haddock/clis/re/clustfcc.py
  src/haddock/clis/re/clustrmsd.py
  tests/golden_data/example_dendrogram.txt
  tests/golden_data/example_ilrmsd.matrix
  tests/golden_data/example_rmsd_matrix.json
  tests/golden_data/io_clustrmsd.json
  tests/golden_data/params_clustrmsd.cfg
  tests/test_cli_re.py
Labels: enhancement

#893 check that file exists before renaming
  src/haddock/modules/topology/topoaa/__init__.py
Labels: bug, m|topoaa

#890 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#896 Per interface scoring
  examples/scoring/capri-scoring-test.cfg
  examples/scoring/emscoring-mdscoring-test.cfg
  examples/scoring/emscoring-test.cfg
  examples/scoring/mdscoring-test.cfg
  src/haddock/modules/scoring/__init__.py
  src/haddock/modules/scoring/emscoring/__init__.py
  src/haddock/modules/scoring/emscoring/cns/print_coorheader.cns
  src/haddock/modules/scoring/emscoring/defaults.yaml
  src/haddock/modules/scoring/mdscoring/__init__.py
  src/haddock/modules/scoring/mdscoring/cns/print_coorheader.cns
  src/haddock/modules/scoring/mdscoring/defaults.yaml
Labels: m|emscoring, m|mdscoring

#898 Add option to keep the existing b-factor in the input PDB
  examples/scoring/data/AF2-model.pdb
  examples/scoring/emscoring-test.cfg
  src/haddock/modules/topology/topoaa/cns/build-missing.cns
  src/haddock/modules/topology/topoaa/cns/generate-topology.cns
  src/haddock/modules/topology/topoaa/defaults.yaml
Labels: enhancement, m|topoaa

#903 Adds the HADDOCK score to the PDB headers - issue #901
  src/haddock/modules/refinement/emref/cns/print_coorheader.cns
  src/haddock/modules/refinement/flexref/cns/print_coorheader.cns
  src/haddock/modules/refinement/mdref/cns/print_coorheader.cns
  src/haddock/modules/sampling/rigidbody/cns/print_coorheader.cns
  src/haddock/modules/scoring/emscoring/cns/print_coorheader.cns
  src/haddock/modules/scoring/mdscoring/cns/print_coorheader.cns
Labels: CNS, m|emscoring, m|emref, m|flexref, m|mdref, m|rigidbody, m|mdscoring

#904 only run codacy-coverage-reporter-action for same repo
  .github/workflows/tests.yml
Labels: CI / repository
