Repository haddocking/haddock3, pull requests merged in 2024-08, with the labels that each got.

#958 update `caprieval` integration tests
  integration_tests/test_caprieval.py
Labels: CI / repository, m|caprieval

#937 Clean intermediate files in batch mode
  src/haddock/gear/clean_steps.py
Labels: workflow

#972 Fix rescore
  src/haddock/libs/libinteractive.py
  tests/test_libinteractive.py
Labels: bug

#935 Add logic to check for incompatible parameters
  src/haddock/gear/prepare_run.py
  src/haddock/gear/yaml2cfg.py
  src/haddock/modules/__init__.py
  src/haddock/modules/defaults.yaml
  tests/test_gear_prepare_run.py
Labels: execution, yaml default parameters

#978 Propagate cluster related properties in `caprieval`
  src/haddock/modules/analysis/caprieval/__init__.py
  src/haddock/modules/analysis/caprieval/capri.py
  tests/test_module_caprieval.py
Labels: m|caprieval

#922 Ilrmsd onechain clarified
  integration_tests/test_ilrmsdmatrix.py
  src/haddock/libs/libalign.py
  src/haddock/modules/analysis/caprieval/capri.py
  src/haddock/modules/analysis/caprieval/defaults.yaml
  src/haddock/modules/analysis/ilrmsdmatrix/__init__.py
  src/haddock/modules/analysis/ilrmsdmatrix/defaults.yaml
  tests/test_libalign.py
  tests/test_module_caprieval.py
  tests/test_module_ilrmsdmatrix.py
Labels: enhancement, m|ilrmsdmatrix

#976 Update `README.md`
  README.md
  docs/figs/HADDOCK3-logo.png
Labels: documentation

#985 Change the naming of the phoshpate oxygens to OP1/OP2
  examples/docking-protein-DNA/data/cro_air.tbl
  examples/docking-protein-DNA/data/dna.pdb
  examples/docking-protein-DNA/data/target.pdb
  src/haddock/cns/toppar/dna-rna-allatom-hj-opls-1.3.param
  src/haddock/cns/toppar/dna-rna-allatom-hj-opls-1.3.top
Labels: parameters-topologies
