Repository haddocking/haddock3, pull requests merged in 2024-07, with the labels that each got.

#918 Reduce number of files in `mode = "local"`
  .gitignore
  integration_tests/golden_data/prot.pdb
  integration_tests/golden_data/prot.psf
  integration_tests/test_cnsjob.py
  src/haddock/libs/libcns.py
  src/haddock/libs/libparallel.py
  src/haddock/libs/libsubprocess.py
  src/haddock/modules/defaults.yaml
  src/haddock/modules/refinement/emref/__init__.py
  src/haddock/modules/refinement/flexref/__init__.py
  src/haddock/modules/refinement/mdref/__init__.py
  src/haddock/modules/sampling/rigidbody/__init__.py
  src/haddock/modules/scoring/emscoring/__init__.py
  src/haddock/modules/scoring/mdscoring/__init__.py
  src/haddock/modules/topology/topoaa/__init__.py
  tests/test_libparallel.py
  tests/test_libsubprocess.py
Labels: enhancement, execution, workflow

#924 Avoid generating `.seed` files
  src/haddock/libs/libcns.py
  src/haddock/libs/libontology.py
  src/haddock/modules/refinement/emref/__init__.py
  src/haddock/modules/refinement/emref/cns/emref.cns
  src/haddock/modules/refinement/flexref/__init__.py
  src/haddock/modules/refinement/flexref/cns/flexref.cns
  src/haddock/modules/refinement/mdref/__init__.py
  src/haddock/modules/refinement/mdref/cns/mdref.cns
  src/haddock/modules/sampling/rigidbody/__init__.py
  src/haddock/modules/sampling/rigidbody/cns/bestener.cns
  src/haddock/modules/sampling/rigidbody/cns/rigidbody.cns
  src/haddock/modules/scoring/emscoring/__init__.py
  src/haddock/modules/scoring/mdscoring/__init__.py
  src/haddock/modules/scoring/mdscoring/cns/mdscoring.cns
  tests/test_libcns.py
  tests/test_libontology.py
Labels: enhancement, CNS, workflow

#841 Makes haddock3 restraints subcommands available as web service
  docs/INSTALL.md
  src/haddock/clis/restraints/passive_from_active.py
  src/haddock/clis/restraints/webservice.py
  src/haddock/libs/librestraints.py
  tests/test_ws_restraints.py
  tox.ini
Labels: web service integration

#933 Refactor `rigidbody` module to allow the preparation of `cns_input` to be done in parallel
  integration_tests/test_rigidbody.py
  src/haddock/libs/libparallel.py
  src/haddock/modules/sampling/rigidbody/__init__.py
  tests/golden_data/e2aP_1F3G_haddock.pdb
  tests/golden_data/e2aP_1F3G_haddock.psf
  tests/golden_data/hpr_ensemble_1_haddock.pdb
  tests/golden_data/hpr_ensemble_1_haddock.psf
  tests/test_libparallel.py
  tests/test_module_rigidbody.py
Labels: execution, m|rigidbody

#928 Use `less_io` parameter in `caprieval`
  integration_tests/test_caprieval.py
  src/haddock/modules/analysis/caprieval/__init__.py
  src/haddock/modules/analysis/caprieval/capri.py
  tests/test_module_caprieval.py
Labels: m|caprieval

#939 increased max sampling_factor
  src/haddock/modules/refinement/mdref/defaults.yaml
Labels: m|mdref, yaml default parameters

#946 removed duplicated w_air parameter
  src/haddock/modules/scoring/mdscoring/defaults.yaml
Labels: m|mdscoring

#951 Update repository templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: CI / repository

#953 lazy load MPI module and COMM variable
  src/haddock/clis/cli_mpi.py
  tests/test_cli_mpi.py
Labels: execution

#950 Refactor `capri.extract_data_from_capri_class` to propagate the model's energy terms
  integration_tests/test_caprieval.py
  src/haddock/modules/analysis/caprieval/capri.py
  tests/test_module_caprieval.py
Labels: bug, m|caprieval

#954 changed min and max clust_cutoff
  src/haddock/modules/analysis/clustrmsd/defaults.yaml
Labels: yaml default parameters, m|clustrmsd

#943 Use `prepare_cns_input_sequential` when `mode` is not local
  integration_tests/test_mpi.py
  integration_tests/test_rigidbody.py
  src/haddock/modules/sampling/rigidbody/__init__.py
Labels: enhancement, m|rigidbody

#947 better description for some modules
  src/haddock/modules/analysis/contactmap/__init__.py
  src/haddock/modules/analysis/seletop/__init__.py
  src/haddock/modules/refinement/emref/__init__.py
  src/haddock/modules/refinement/flexref/__init__.py
  src/haddock/modules/refinement/mdref/__init__.py
  src/haddock/modules/topology/topoaa/__init__.py
  src/haddock/modules/topology/topocg/__init__.py
Labels: enhancement, documentation

#957 added ilrmsd to capri clt
  src/haddock/modules/analysis/caprieval/capri.py
  tests/test_module_caprieval.py
Labels: enhancement, m|caprieval
