Repository haddocking/haddock3, pull requests merged in 2024-12, with the labels that each got.

#1136 `[caprieval]` comparisons against multiple references
  integration_tests/test_caprieval.py
  src/haddock/modules/analysis/caprieval/__init__.py
  src/haddock/modules/analysis/caprieval/capri.py
  tests/test_module_caprieval.py
Labels: enhancement, feature, m|caprieval

#1159 Remove tox and adjust markdown files
  CONTRIBUTING.md
  MANIFEST.in
  README.md
  devtools/clean_dist_check.py
  tox.ini
Labels: documentation, dependencies

#1170 Increased parameters in various CNS files for max path length
  varia/cns1.3/instlib/machine/supported/arm-aarch64-linux/machine_f.f
  varia/cns1.3/instlib/machine/supported/intel-x86_64bit-linux/machine_f.f
  varia/cns1.3/instlib/machine/supported/linux/machine_f.f
  varia/cns1.3/instlib/machine/supported/mac-arm-darwin/machine_f.f
  varia/cns1.3/instlib/machine/supported/mac-intel-darwin/machine_f.f
  varia/cns1.3/source/cns.inc
  varia/cns1.3/source/comand.inc
Labels: CNS, community

#1176 refactored check for chain combinations
  src/haddock/libs/libcns.py
  src/haddock/libs/libpdb.py
  src/haddock/modules/sampling/rigidbody/__init__.py
  tests/test_libpdb.py
Labels: bug, m|rigidbody

#1180 added flat tar extraction
  src/haddock/gear/clean_steps.py
  src/haddock/gear/prepare_run.py
  src/haddock/libs/libio.py
  tests/golden_data/ambig.tbl.tgz
  tests/test_libio.py
Labels: enhancement, workflow

#1172 modify way of getting the ncores
  src/haddock/libs/libutil.py
  tests/test_libutil.py
Labels: execution, community

#1183 back to basics for macos users when detecting number of cores
  src/haddock/libs/libutil.py
Labels: bug, execution

#1185 allow for digit fluctuation in mdscoring integration tests
  integration_tests/test_mdscoring.py
Labels: enhancement

#1145 quick fix openm install and 8.2 version
  docs/INSTALL.md
  examples/thirdparty/openmm/data/DAIDALSSDFT_alpha.pdb
  examples/thirdparty/openmm/openmm-implicit-solvent-test.cfg
  examples/thirdparty/openmm/openmm-test.cfg
  examples/thirdparty/openmm/openmm-topoaa-flexref-test.cfg
  src/haddock/libs/libpdb.py
  src/haddock/modules/refinement/openmm/__init__.py
  src/haddock/modules/refinement/openmm/defaults.yaml
  src/haddock/modules/refinement/openmm/openmm.py
  tests/data/noTER.pdb
  tests/data/withTER.pdb
  tests/test_libpdb.py
Labels: m|openmm

#1133 Handle reference issue when multiple conformation provided in `[caprieval]`
  integration_tests/test_caprieval.py
  src/haddock/modules/analysis/caprieval/__init__.py
  src/haddock/modules/analysis/caprieval/capri.py
  tests/test_module_caprieval.py
Labels: bug, m|caprieval
