Repository haddocking/haddock3, pull requests merged in 2024-02, with the labels that each got.

#794 Zip structures
  src/haddock/clis/cli_analyse.py
  tests/test_cli_analyse.py
Labels: enhancement, analysis/postprocessing

#805 changed capri columns
  src/haddock/clis/cli_analyse.py
  src/haddock/libs/libinteractive.py
  src/haddock/libs/libplots.py
  src/haddock/modules/analysis/caprieval/capri.py
  tests/data/capri_ss_-cluster.tsv
  tests/golden_data/capri_ss_example.tsv
  tests/test_module_caprieval.py
Labels: m|caprieval

#812 update codehub sync
  .github/workflows/github-to-gitlab-push-sync.yml
  action.yml
Labels: CI / repository

#816 Validate example workflows
  examples/thirdparty/gdock/gdock-integration.cfg
  tests/test_examples_general.py
Labels: enhancement, examples

#815 Low level docs
  devtools/build_defaults_rst.py
  docs/conf.py
  docs/examples.md
  docs/intro.md
  examples/analysis/topoaa-clustfcc-test.cfg
  examples/analysis/topoaa-ilrmsdmatrix-clustrmsd-test.cfg
  examples/compare_runs.py
  examples/docking-protein-glycan/docking-protein-glycan-ilrmsd-full.cfg
  examples/run_tests.py
  src/haddock/clis/cli_clean.py
  src/haddock/clis/cli_restraints.py
  src/haddock/clis/cli_unpack.py
  src/haddock/clis/restraints/restrain_bodies.py
  src/haddock/clis/restraints/validate_tbl.py
  src/haddock/gear/config.py
  src/haddock/gear/prepare_run.py
  src/haddock/modules/analysis/alascan/__init__.py
  src/haddock/modules/analysis/alascan/scan.py
  src/haddock/modules/analysis/caprieval/__init__.py
  src/haddock/modules/analysis/clustfcc/__init__.py
  src/haddock/modules/analysis/clustrmsd/__init__.py
  src/haddock/modules/analysis/ilrmsdmatrix/__init__.py
  src/haddock/modules/analysis/seletop/__init__.py
  src/haddock/modules/analysis/seletopclusts/__init__.py
  src/haddock/modules/scoring/emscoring/__init__.py
  src/haddock/modules/scoring/mdscoring/__init__.py
Labels: documentation

#749 Fine tuning Contact map module
  examples/analysis/contmap-test.cfg
  src/haddock/libs/libplots.py
  src/haddock/modules/analysis/contactmap/__init__.py
  src/haddock/modules/analysis/contactmap/contmap.py
  src/haddock/modules/analysis/contactmap/defaults.yaml
  tests/test_module_contmap.py
Labels: enhancement, m|contactmap
