Repository haddocking/haddock3, pull requests merged in 2024-01, with the labels that each got.

#766 update key deletion logic in topoaa
  src/haddock/libs/libontology.py
Labels: bug, enhancement

#771 corrected crossbar values
  src/haddock/libs/libplots.py
Labels: bug, analysis/postprocessing

#685 ilrmsdmatrix module
  examples/docking-protein-glycan/docking-protein-glycan-ilrmsd-test.cfg
  integration_tests/__init__.py
  integration_tests/golden_data/protglyc_complex_1.pdb
  integration_tests/golden_data/protglyc_complex_2.pdb
  integration_tests/test_ilrmsdmatrix.py
  src/haddock/libs/libparallel.py
  src/haddock/modules/analysis/ilrmsdmatrix/__init__.py
  src/haddock/modules/analysis/ilrmsdmatrix/defaults.yaml
  src/haddock/modules/analysis/ilrmsdmatrix/ilrmsd.py
  tests/test_module_ilrmsdmatrix.py
Labels: feature, m|ilrmsdmatrix

#775 uniform running modes
  docs/examples.md
  docs/intro.md
  docs/tutorials/user_config.rst
  examples/docking-antibody-antigen/docking-antibody-antigen-CDR-NMR-CSP-full.cfg
  examples/docking-antibody-antigen/docking-antibody-antigen-CDR-accessible-clt-full.cfg
  examples/docking-antibody-antigen/docking-antibody-antigen-CDR-accessible-full.cfg
  examples/docking-antibody-antigen/docking-antibody-antigen-ranairCDR-clt-full.cfg
  examples/docking-antibody-antigen/docking-antibody-antigen-ranairCDR-full.cfg
  examples/docking-multiple-ambig/docking-multiple-tbls-clt-full.cfg
  examples/docking-protein-DNA/docking-protein-DNA-cltsel-full.cfg
  examples/docking-protein-DNA/docking-protein-DNA-full.cfg
  examples/docking-protein-DNA/docking-protein-DNA-mdref-full.cfg
  examples/docking-protein-glycan/docking-flexref-protein-glycan-full.cfg
  examples/docking-protein-glycan/docking-protein-glycan-full.cfg
  examples/docking-protein-homotrimer/docking-protein-homotrimer-full.cfg
  examples/docking-protein-ligand-shape/docking-protein-ligand-shape-full.cfg
  examples/docking-protein-ligand/docking-protein-ligand-full.cfg
  examples/docking-protein-peptide/docking-protein-peptide-cltsel-full.cfg
  examples/docking-protein-peptide/docking-protein-peptide-full.cfg
  examples/docking-protein-peptide/docking-protein-peptide-mdref-full.cfg
  examples/docking-protein-protein/docking-protein-protein-cltsel-full.cfg
  examples/docking-protein-protein/docking-protein-protein-full.cfg
  examples/docking-protein-protein/docking-protein-protein-hpc-test.cfg
  examples/docking-protein-protein/docking-protein-protein-mdref-full.cfg
  src/haddock/clis/cli_mpi.py
  src/haddock/modules/__init__.py
  src/haddock/modules/analysis/__init__.py
  src/haddock/modules/analysis/alascan/__init__.py
  src/haddock/modules/analysis/caprieval/__init__.py
  src/haddock/modules/analysis/caprieval/capri.py
  src/haddock/modules/analysis/clustfcc/__init__.py
  src/haddock/modules/analysis/contactmap/__init__.py
  src/haddock/modules/analysis/ilrmsdmatrix/__init__.py
  src/haddock/modules/analysis/rmsdmatrix/__init__.py
  src/haddock/modules/defaults.yaml
  tests/test_modules_analysis.py
Labels: enhancement, execution

#787 Solves issue #785 about unstable energies when changing the param file
  src/haddock/cns/toppar/hemes-allhdg.top
  src/haddock/modules/topology/topoaa/cns/build-missing.cns
  src/haddock/modules/topology/topoaa/cns/generate-topology.cns
Labels: bug, CNS, m|topoaa, parameters-topologies

#788 Add topo/params for covalent docking Serine (SEC) - issue #757
  integration_tests/test_alascan.py
  src/haddock/cns/toppar/protein-allhdg5-4-noCter.link
  src/haddock/cns/toppar/protein-allhdg5-4-noNter.link
  src/haddock/cns/toppar/protein-allhdg5-4-noter.link
  src/haddock/cns/toppar/protein-allhdg5-4.link
  src/haddock/cns/toppar/protein-allhdg5-4.param
  src/haddock/cns/toppar/protein-allhdg5-4.top
  src/haddock/modules/refinement/emref/cns/restrain-ions.cns
  src/haddock/modules/refinement/flexref/cns/covalions.cns
  src/haddock/modules/refinement/flexref/cns/restrain-ions.cns
  src/haddock/modules/sampling/rigidbody/cns/randomairs.cns
  src/haddock/modules/scoring/emscoring/cns/restrain-ions.cns
  src/haddock/modules/scoring/mdscoring/cns/restrain-ions.cns
  src/haddock/modules/topology/topoaa/cns/build-missing.cns
Labels: enhancement, feature, CNS, m|topoaa, parameters-topologies

#793 added chain ID
  examples/scoring/data/HY3.pdb
Labels: examples
