Repository haddocking/haddock3, pull requests merged in 2024-09, with the labels that each got.

#997 links to feedbacks
  src/haddock/clis/cli.py
  src/haddock/gear/greetings.py
Labels: feedback

#994 Single chain caprieval
  integration_tests/test_caprieval.py
  src/haddock/modules/analysis/caprieval/__init__.py
  src/haddock/modules/analysis/caprieval/capri.py
  src/haddock/modules/analysis/caprieval/defaults.yaml
  tests/test_module_caprieval.py
Labels: enhancement, feature

#1001 remove dead code related to DNA in `cm_restraints.cns`
  examples/compare_runs.py
  examples/docking-protein-DNA/docking-protein-DNA-cmrest-test.cfg
  examples/run_tests.py
  src/haddock/modules/refinement/flexref/cns/cm-restraints.cns
  src/haddock/modules/refinement/flexref/cns/flexref.cns
  src/haddock/modules/sampling/rigidbody/cns/cm-restraints.cns
  src/haddock/modules/sampling/rigidbody/cns/rigidbody.cns
Labels: bug, m|flexref, m|rigidbody

#983 modifying amb_scale and unamb_scale parameter names
  src/haddock/modules/refinement/emref/cns/emref.cns
  src/haddock/modules/refinement/emref/defaults.yaml
  src/haddock/modules/refinement/flexref/cns/flexref.cns
  src/haddock/modules/refinement/flexref/cns/sa_ltad_cool1.cns
  src/haddock/modules/refinement/flexref/cns/sa_ltad_cool2.cns
  src/haddock/modules/refinement/flexref/cns/sa_ltad_cool3.cns
  src/haddock/modules/refinement/flexref/cns/sa_ltad_hightemp.cns
  src/haddock/modules/refinement/flexref/defaults.yaml
  src/haddock/modules/refinement/mdref/cns/mdref.cns
  src/haddock/modules/refinement/mdref/defaults.yaml
  src/haddock/modules/sampling/rigidbody/cns/bestener.cns
  src/haddock/modules/sampling/rigidbody/cns/rigidbody.cns
  src/haddock/modules/sampling/rigidbody/defaults.yaml
Labels: CNS

#1010 Fileexist issue update
  integration_tests/golden_data/ligand.param
  integration_tests/golden_data/ligand.top
  integration_tests/golden_data/oseltamivir.pdb
  integration_tests/test_topoaa.py
  src/haddock/modules/topology/topoaa/cns/generate-topology.cns
Labels: bug, m|topoaa

#1004 Set tolerance to 5 for non-topoaa modules
  src/haddock/modules/refinement/emref/defaults.yaml
  src/haddock/modules/sampling/rigidbody/defaults.yaml
  src/haddock/modules/scoring/emscoring/defaults.yaml
Labels: m|emscoring, m|topoaa, parameters-topologies

#974 ordering by size in clustrmsd
  src/haddock/clis/re/clustrmsd.py
  src/haddock/modules/analysis/clustrmsd/__init__.py
  src/haddock/modules/analysis/clustrmsd/clustrmsd.py
  tests/test_cli_re.py
  tests/test_module_clustrmsd.py
Labels: enhancement, m|clustrmsd

#968 added integration tests for scoring modules
  integration_tests/golden_data/protglyc_complex_1.psf
  integration_tests/test_emscoring.py
  integration_tests/test_mdscoring.py
Labels: enhancement, m|emscoring, m|mdscoring

#1009 Add all global parameters description
  src/haddock/clis/cli_cfg.py
  src/haddock/gear/yaml2cfg.py
Labels: enhancement

#1016 refactor `clustfcc` and it's tests to use the proper path
  integration_tests/golden_data/protprot_complex_1.pdb
  integration_tests/golden_data/protprot_complex_2.pdb
  integration_tests/test_clustfcc.py
  src/haddock/modules/analysis/clustfcc/__init__.py
  src/haddock/modules/analysis/clustfcc/clustfcc.py
  tests/test_module_clustfcc.py
Labels: CI / repository, m|clustfcc

#969 Enhance flexible definition in config files / defaults.yaml
  docs/examples.md
  examples/docking-protein-glycan/docking-flexref-protein-glycan-full.cfg
  examples/docking-protein-glycan/docking-flexref-protein-glycan-test.cfg
  examples/docking-protein-peptide/docking-protein-peptide-cltsel-full.cfg
  examples/docking-protein-peptide/docking-protein-peptide-full.cfg
  examples/docking-protein-peptide/docking-protein-peptide-mdref-full.cfg
  examples/docking-protein-peptide/docking-protein-peptide-mdref-test.cfg
  examples/docking-protein-peptide/docking-protein-peptide-test.cfg
  examples/peptide-cyclisation/cyclise-peptide-full.cfg
  examples/peptide-cyclisation/cyclise-peptide-test.cfg
  src/haddock/modules/refinement/emref/cns/flex_segment_back.cns
  src/haddock/modules/refinement/emref/cns/flexauto-neighbors.cns
  src/haddock/modules/refinement/emref/defaults.yaml
  src/haddock/modules/refinement/flexref/cns/flex_segment.cns
  src/haddock/modules/refinement/flexref/cns/flex_segment_back.cns
  src/haddock/modules/refinement/flexref/cns/flex_segment_side.cns
  src/haddock/modules/refinement/flexref/cns/flexauto-neighbors.cns
  src/haddock/modules/refinement/flexref/cns/flexref.cns
  src/haddock/modules/refinement/flexref/cns/torsiontop.cns
  src/haddock/modules/refinement/flexref/defaults.yaml
  src/haddock/modules/refinement/mdref/cns/flex_segment_back.cns
  src/haddock/modules/refinement/mdref/cns/flex_segment_side.cns
  src/haddock/modules/refinement/mdref/cns/flexauto-neighbors.cns
  src/haddock/modules/refinement/mdref/defaults.yaml
  src/haddock/modules/scoring/mdscoring/defaults.yaml
  tox.ini
Labels: enhancement, CNS, m|emref, m|flexref, m|mdref

#1019 create `libfcc.py`
  src/haddock/clis/re/clustfcc.py
  src/haddock/libs/libfcc.py
  src/haddock/modules/analysis/clustfcc/__init__.py
  src/haddock/modules/analysis/clustfcc/clustfcc.py
Labels: CI / repository, m|clustfcc

#1020 Automatically reduce the tadfactor to 4 when fully flexible segments are defined
  src/haddock/modules/refinement/flexref/cns/flexref.cns
Labels: enhancement, m|flexref

#1023 lower expertise level of ligands params
  src/haddock/modules/refinement/emref/defaults.yaml
  src/haddock/modules/refinement/flexref/defaults.yaml
  src/haddock/modules/refinement/mdref/defaults.yaml
  src/haddock/modules/scoring/emscoring/defaults.yaml
  src/haddock/modules/scoring/mdscoring/defaults.yaml
  src/haddock/modules/topology/topoaa/defaults.yaml
Labels: yaml default parameters, parameters-topologies

#1014 Integration tests
  integration_tests/__init__.py
  integration_tests/conftest.py
  integration_tests/golden_data/2oob.pdb
  integration_tests/golden_data/2oob_A.pdb
  integration_tests/golden_data/2oob_A.psf
  integration_tests/golden_data/2oob_B.pdb
  integration_tests/golden_data/2oob_B.psf
  integration_tests/golden_data/e2aP_1F3G.pdb
  integration_tests/golden_data/hpr_ensemble.pdb
  integration_tests/test_alascan.py
  integration_tests/test_cli_score.py
  integration_tests/test_clustfcc.py
  integration_tests/test_cnsjob.py
  integration_tests/test_contactmap.py
  integration_tests/test_emref.py
  integration_tests/test_emscoring.py
  integration_tests/test_flexref.py
  integration_tests/test_ilrmsdmatrix.py
  integration_tests/test_mdref.py
  integration_tests/test_mdscoring.py
  integration_tests/test_restraints.py
  integration_tests/test_rigidbody.py
  integration_tests/test_rmsdmatrix.py
  integration_tests/test_topoaa.py
Labels: CI / repository

#1026 validate ncs parameters
  src/haddock/gear/prepare_run.py
  tests/test_gear_prepare_run.py
Labels: enhancement, CNS

#1031 Added DISCLAIMER statement
  DISCLAIMER.md
Labels: documentation

#1018 Detection of known CNS errors when failed run
  integration_tests/test_cnsjob.py
  integration_tests/test_knownCNSerrors.py
  src/haddock/core/exceptions.py
  src/haddock/gear/clean_steps.py
  src/haddock/gear/known_cns_errors.py
  src/haddock/libs/libsubprocess.py
  src/haddock/modules/__init__.py
  src/haddock/modules/refinement/emref/__init__.py
  src/haddock/modules/refinement/emref/cns/symmultimer.cns
  src/haddock/modules/refinement/flexref/__init__.py
  src/haddock/modules/refinement/flexref/cns/symmultimer.cns
  src/haddock/modules/refinement/mdref/__init__.py
  src/haddock/modules/refinement/mdref/cns/symmultimer.cns
  src/haddock/modules/sampling/rigidbody/__init__.py
  src/haddock/modules/sampling/rigidbody/cns/symmultimer.cns
  src/haddock/modules/scoring/emscoring/__init__.py
  src/haddock/modules/scoring/mdscoring/__init__.py
  src/haddock/modules/topology/topoaa/__init__.py
  tests/test_gear_known_cns_errors.py
Labels: enhancement, CNS, workflow

#1035 less_io to debug
  examples/peptide-cyclisation/cyclise-peptide-full.cfg
  examples/peptide-cyclisation/cyclise-peptide-test.cfg
  integration_tests/test_caprieval.py
  integration_tests/test_emref.py
  integration_tests/test_flexref.py
  integration_tests/test_mdref.py
  integration_tests/test_restraints.py
  integration_tests/test_rigidbody.py
  integration_tests/test_topoaa.py
  src/haddock/libs/libcns.py
  src/haddock/modules/analysis/caprieval/__init__.py
  src/haddock/modules/analysis/caprieval/capri.py
  src/haddock/modules/defaults.yaml
  src/haddock/modules/refinement/emref/__init__.py
  src/haddock/modules/refinement/flexref/__init__.py
  src/haddock/modules/refinement/mdref/__init__.py
  src/haddock/modules/sampling/rigidbody/__init__.py
  src/haddock/modules/scoring/emscoring/__init__.py
  src/haddock/modules/scoring/mdscoring/__init__.py
  src/haddock/modules/topology/topoaa/__init__.py
  tests/test_libcns.py
Labels: enhancement

#975 Simplify definition of counted parameters by computing them on the fly from definition.
  examples/docking-protein-glycan/docking-flexref-protein-glycan-full.cfg
  examples/docking-protein-glycan/docking-flexref-protein-glycan-test.cfg
  examples/docking-protein-homotrimer/docking-protein-homotrimer-full.cfg
  examples/docking-protein-homotrimer/docking-protein-homotrimer-test.cfg
  examples/docking-protein-peptide/docking-protein-peptide-cltsel-full.cfg
  examples/docking-protein-peptide/docking-protein-peptide-full.cfg
  examples/docking-protein-peptide/docking-protein-peptide-mdref-full.cfg
  examples/docking-protein-peptide/docking-protein-peptide-mdref-test.cfg
  examples/docking-protein-peptide/docking-protein-peptide-test.cfg
  src/haddock/gear/expandable_parameters.py
  src/haddock/gear/prepare_run.py
  src/haddock/modules/refinement/emref/cns/emref.cns
  src/haddock/modules/refinement/emref/cns/symmultimer.cns
  src/haddock/modules/refinement/emref/defaults.yaml
  src/haddock/modules/refinement/flexref/cns/check-homomers.cns
  src/haddock/modules/refinement/flexref/cns/flexref.cns
  src/haddock/modules/refinement/flexref/cns/symmultimer.cns
  src/haddock/modules/refinement/flexref/defaults.yaml
  src/haddock/modules/refinement/mdref/cns/mdref.cns
  src/haddock/modules/refinement/mdref/cns/symmultimer.cns
  src/haddock/modules/refinement/mdref/defaults.yaml
  src/haddock/modules/sampling/rigidbody/cns/check-homomers.cns
  src/haddock/modules/sampling/rigidbody/cns/rigidbody.cns
  src/haddock/modules/sampling/rigidbody/cns/symmultimer.cns
  src/haddock/modules/sampling/rigidbody/defaults.yaml
  tests/test_examples_general.py
  tests/test_gear_expandable_parameters.py
  tests/test_gear_prepare_run.py
Labels: CNS, yaml default parameters

#1043 Update main cli description
  src/haddock/clis/cli.py
  tests/test_cli.py
Labels: enhancement

#1039 Update installation instructions
  README.md
  docs/INSTALL.md
  src/haddock/clis/cli.py
  tests/test_cli.py
Labels: documentation

#988 add development instructions
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  DEVELOPMENT.md
  setup.py
Labels: documentation

#1045 Fixing some examples workflow configuration files
  examples/docking-antibody-antigen/docking-antibody-antigen-CDR-accessible-clt-full-mpi.cfg
  examples/docking-antibody-antigen/docking-antibody-antigen-CDR-accessible-clt-full.cfg
  examples/docking-antibody-antigen/docking-antibody-antigen-CDR-accessible-clt-test.cfg
  examples/docking-antibody-antigen/docking-antibody-antigen-CDR-accessible-full-mpi.cfg
  examples/docking-antibody-antigen/docking-antibody-antigen-CDR-accessible-test.cfg
  examples/docking-antibody-antigen/docking-antibody-antigen-ranairCDR-clt-full.cfg
  examples/docking-antibody-antigen/docking-antibody-antigen-ranairCDR-full-mpi.cfg
  examples/docking-antibody-antigen/docking-antibody-antigen-ranairCDR-full.cfg
  examples/docking-protein-homotrimer/docking-protein-homotrimer-full.cfg
  examples/docking-protein-homotrimer/docking-protein-homotrimer-test.cfg
Labels: bug, m|rigidbody

#1053 Further implementing the topocg CNS scripts
  examples/docking-protein-protein-CG/data/e2a-hpr_air.tbl
  examples/docking-protein-protein-CG/data/e2a_1F3G.pdb
  examples/docking-protein-protein-CG/data/hpr_ensemble_B.pdb
  examples/docking-protein-protein-CG/docking-protein-protein-CG-test.cfg
  src/haddock/cns/toppar/dna-rna-CG-MARTINI-2-1p.param
  src/haddock/cns/toppar/protein-CG-Martini-2-2.param
  src/haddock/cns/toppar/protein-CG-Martini-2-2.top
  src/haddock/core/supported_molecules.py
  src/haddock/modules/topology/topocg/__init__.py
  src/haddock/modules/topology/topocg/aa2cg.py
  src/haddock/modules/topology/topocg/cns/auto-his.cns
  src/haddock/modules/topology/topocg/cns/bondglycans.cns
  src/haddock/modules/topology/topocg/cns/charge-beads-interactions.cns
  src/haddock/modules/topology/topocg/cns/dna_break.cns
  src/haddock/modules/topology/topocg/cns/generate-topology.cns
  src/haddock/modules/topology/topocg/cns/patch-bb-cg.cns
  src/haddock/modules/topology/topocg/cns/patch-breaks-cg-dna-rna.cns
  src/haddock/modules/topology/topocg/cns/patch-types-cg-hbond-dna-rna.cns
  src/haddock/modules/topology/topocg/cns/patch-types-cg.cns
  src/haddock/modules/topology/topocg/defaults.yaml
Labels: CNS, m|topocg

#1061 Adapted rigidbody CG mode for proper handling of param/interactions
  src/haddock/modules/sampling/rigidbody/cns/charge-beads-interactions.cns
  src/haddock/modules/sampling/rigidbody/cns/read_param.cns
  src/haddock/modules/sampling/rigidbody/cns/rigidbody.cns
  src/haddock/modules/topology/topocg/cns/charge-beads-interactions.cns
  src/haddock/modules/topology/topocg/cns/generate-topology.cns
Labels: CNS, m|rigidbody, m|topocg

#1062 Further implementation of the CG mode (flexref + update to rigidbody)
  examples/docking-protein-protein-CG/docking-protein-protein-CG-test.cfg
  integration_tests/golden_data/e2a-hpr-rigid-cg.pdb
  integration_tests/golden_data/e2a_haddock_cg.pdb
  integration_tests/golden_data/e2a_haddock_cg.psf
  integration_tests/golden_data/hpr_haddock_cg.pdb
  integration_tests/golden_data/hpr_haddock_cg.psf
  integration_tests/test_flexref-cg.py
  integration_tests/test_rigidbody-cg.py
  src/haddock/modules/refinement/flexref/cns/charge-beads-interactions.cns
  src/haddock/modules/refinement/flexref/cns/flexref.cns
  src/haddock/modules/refinement/flexref/cns/read_param.cns
  src/haddock/modules/refinement/flexref/cns/scale_intra_only.cns
  src/haddock/modules/refinement/flexref/defaults.yaml
  src/haddock/modules/sampling/rigidbody/cns/rigidbody.cns
  src/haddock/modules/sampling/rigidbody/defaults.yaml
  src/haddock/modules/topology/topocg/cns/generate-topology.cns
  src/haddock/modules/topology/topocg/defaults.yaml
Labels: CNS, m|flexref, m|rigidbody

#1042 Make project compatible with recent python versions
  .github/workflows/ci.yml
  .github/workflows/pages.yml
  DEVELOPMENT.md
  MANIFEST.in
  codecov.yml
  pyproject.toml
  requirements.txt
  setup.py
  src/haddock/core/defaults.py
  src/haddock/libs/libalign.py
  src/haddock/modules/analysis/clustfcc/__init__.py
  tests/conftest.py
  tests/test_cli_restraints.py
  tests/test_gear_haddockmodel.py
  tests/test_libalign.py
  tests/test_module_alascan.py
  tests/test_module_caprieval.py
  tests/test_module_clustfcc.py
  tests/test_module_clustrmsd.py
  tests/test_module_contmap.py
  tests/test_module_emscoring.py
  tests/test_module_flexref.py
  tests/test_module_ilrmsdmatrix.py
  tests/test_module_mdscoring.py
  tests/test_module_rigidbody.py
  tests/test_module_rmsdmatrix.py
  tests/test_module_seletopclusts.py
  tests/test_module_topoaa.py
  tests/test_modules_general.py
Labels: CI / repository
