Repository haddocking/haddock3, pull requests merged in 2025-04, with the labels that each got.

#1233 Increase number of supported molecules with common co-factors
  src/haddock/cns/toppar/cofactors.param
  src/haddock/cns/toppar/cofactors.pep
  src/haddock/cns/toppar/cofactors.top
  src/haddock/core/supported_molecules.py
  src/haddock/libs/libpdb.py
  src/haddock/modules/refinement/emref/cns/read_param.cns
  src/haddock/modules/refinement/flexref/cns/read_param.cns
  src/haddock/modules/refinement/mdref/cns/read_param.cns
  src/haddock/modules/sampling/rigidbody/cns/read_param.cns
  src/haddock/modules/scoring/emscoring/cns/read_param.cns
  src/haddock/modules/scoring/mdscoring/cns/read_param.cns
  src/haddock/modules/topology/topoaa/cns/generate-topology.cns
  varia/cns1.3/source/param.inc
Labels: CNS, m|emscoring, m|emref, m|flexref, m|mdref, m|topoaa, m|mdscoring

#1245 Update README.md
  README.md
Labels: documentation

#1069 `[prodigyligand]` and `[prodigyprotein]` scoring modules
  devtools/build_defaults_rst.py
  examples/scoring/data/4g6m_nowater.pdb
  examples/scoring/data/ligand-prodrg.param
  examples/scoring/data/ligand-prodrg.top
  examples/scoring/data/prot-lig.pdb
  examples/scoring/data/prot-prot.pdb
  examples/scoring/prodigy-antibody-antigen-test.cfg
  examples/scoring/prodigy-protein-ligand-test.cfg
  examples/scoring/prodigy-protein-protein-test.cfg
  pyproject.toml
  src/haddock/libs/libprodigy.py
  src/haddock/modules/scoring/prodigyligand/__init__.py
  src/haddock/modules/scoring/prodigyligand/defaults.yaml
  src/haddock/modules/scoring/prodigyligand/prodigylig.py
  src/haddock/modules/scoring/prodigyprotein/__init__.py
  src/haddock/modules/scoring/prodigyprotein/defaults.yaml
  src/haddock/modules/scoring/prodigyprotein/prodigy.py
  tests/test_module_prodigyligand.py
  tests/test_module_prodigyprotein.py
Labels: feature, m|prodigyligand, m|prodigyprotein

#1243 Returning unequilibrated structure in openmm
  examples/thirdparty/openmm/openmm-topoaa-flexref-test.cfg
  src/haddock/modules/refinement/openmm/openmm.py
Labels: bug, m|openmm

#1253 add schedule to `ci.yml`
  .github/workflows/ci.yml
Labels: CI / repository

#1126 Fine tuning for web app purpose
  integration_tests/test_full_workflow.py
  src/haddock/clis/cli.py
  src/haddock/clis/cli_analyse.py
  src/haddock/core/optional.yaml
  src/haddock/gear/clean_steps.py
  src/haddock/gear/greetings.py
  src/haddock/gear/postprocessing.py
  src/haddock/libs/libplots.py
  src/haddock/libs/libworkflow.py
  src/haddock/modules/topology/topoaa/__init__.py
  tests/test_cli_analyse.py
Labels: enhancement, execution

#1222 fix inconsistent use of `top_cluster` parameter
  examples/analysis/seletopclusts.cfg
  examples/peptide-cyclisation/cyclise-peptide-3wne-full.cfg
  examples/peptide-cyclisation/cyclise-peptide-full.cfg
  examples/peptide-cyclisation/cyclise-peptide-test.cfg
  examples/scoring/capri-scoring-test.cfg
  examples/thirdparty/gdock/gdock-integration.cfg
  src/haddock/clis/cli_analyse.py
  src/haddock/libs/libworkflow.py
  src/haddock/modules/analysis/seletopclusts/__init__.py
  src/haddock/modules/analysis/seletopclusts/defaults.yaml
  src/haddock/modules/analysis/seletopclusts/seletopclusts.py
  tests/test_libworkflow.py
  tests/test_module_seletopclusts.py
Labels: bug, m|seletopclusts

#1207 added nanobody example data
  docs/examples.md
  examples/docking-nanobody-antigen/README.md
  examples/docking-nanobody-antigen/data/7tgfB-nb_ens.pdb
  examples/docking-nanobody-antigen/data/7tgfB_loose_ambig.tbl
  examples/docking-nanobody-antigen/data/7tgfB_mix.tbl.tgz
  examples/docking-nanobody-antigen/data/7tgfB_mix_0.tbl
  examples/docking-nanobody-antigen/data/7tgfB_mix_1.tbl
  examples/docking-nanobody-antigen/data/7tgfB_real_ambig.tbl
  examples/docking-nanobody-antigen/data/7tgfB_ref.pdb
  examples/docking-nanobody-antigen/data/7tgfB_twohit_ambig.tbl
  examples/docking-nanobody-antigen/data/7y07_l_u.pdb
  examples/docking-nanobody-antigen/docking-nanobody-antigen-CDR-loose-epi-full.cfg
  examples/docking-nanobody-antigen/docking-nanobody-antigen-CDR-loose-epi-test.cfg
  examples/docking-nanobody-antigen/docking-nanobody-antigen-CDR-mutagenesis-epi-full.cfg
  examples/docking-nanobody-antigen/docking-nanobody-antigen-CDR-mutagenesis-epi-test.cfg
  examples/docking-nanobody-antigen/docking-nanobody-antigen-Para-Epi-full.cfg
  examples/docking-nanobody-antigen/docking-nanobody-antigen-Para-Epi-test.cfg
  examples/docking-nanobody-antigen/docking-nanobody-antigen-mix-loose-epi-full.cfg
  examples/docking-nanobody-antigen/docking-nanobody-antigen-mix-loose-epi-test.cfg
Labels: examples

#1226 Adding new filtering module `[filter]`
  devtools/build_defaults_rst.py
  src/haddock/modules/analysis/filter/__init__.py
  src/haddock/modules/analysis/filter/defaults.yaml
  tests/test_module_filter.py
Labels: feature, m|filter

#1256 fix path in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation
